* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #096633;
}

body, input, select, textarea {
        font-family: "Open Sans", serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/bg.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */

    z-index: -1;
}

.page {
    width: 95vw;
    min-width: 80vw;
    margin: 0 auto;
}

header {
    text-align: center;
    
    display: flex;
    justify-content: center;

}

header img {
    width: 50vw;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

form{
    border-radius: 8px 8px 8px 8px;
    background-color: rgba(221, 236, 228, 0.411);
    min-height: 200px;
    

    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 30px;
    text-transform: uppercase;
}

fieldset {
    border: 0;
}

fieldset legend {
    font-family: "League Spartan", serif;
    font-size: 26px;
    text-align: center;
    line-height: 34px;
    color: var(--color1);
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.input-wrapper label,
.input-radio,
.input-wrapper select,
.input-number,
.radio-group,
.input-wrapper h2,
.input-wrapper p,
.radio-group1 p {
    color: rgb(7, 87, 44);
    font-family: "Open Sans", serif;
    font-size: 1.2em;
    font-weight: 600;
    font-style: bolder;
    line-height: 24px;
    margin-bottom: 0.8em;
    
    
}

.input-wrapper input {
    
    height: 30px;
    border-radius: 8px;
    padding: 0 24px;
    width: 95%;

    border: 1px solid #E6E6F0;
    margin-bottom: 8px;
    text-align: center;
    
}

.input-wrapper select {
    width: 95%;
    font-size: 1.2em;
    text-align: center;
}

.number-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}
.input-number {
    text-align: center;
    width: 50%;
    
}

.input-number input {
    width: 30vw;
    height: 40px;
    border-radius: 8px;
    padding: 0 5px;
    border: 1px solid #E6E6F0;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
    font-size: 1.2em;
}
.input-number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
 }
.input-radio {

}
.input-radio label {
    display: flex;
    
    
}
.input-wrapper h2 {
    margin-top: 2%;
}
.radio-group {
    margin-top: 0.5em;
    padding-left: 0.5em;
}

.button-style {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    
}

.button-style button {
    background-color: var(--color1);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Open Sans", serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0.8em;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}
.button-style button:hover {
    background-color: #064623;
}