* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #096633;
}
    /* font-family: "League Spartan", serif;
    font-family: "Open Sans", serif; */

body {

}

    
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/bg.png');
    background-size: cover;
    background-position: center;
    background-size: cover;
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1;
}


.page {
    width: 80vw;
    margin: 0 auto;
}
header {
    text-align: center;
    
    display: flex;
    justify-content: center;
    justify-content: center;
}
header img {
    width: 40vw;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;

}
form{
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(221, 236, 228, 0.411);
    min-height: 200px;

    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    gap: 30px;
    text-transform: uppercase;
}

fieldset {
    border: 0;
}
fieldset legend {
    font-family: "League Spartan", serif;
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    color: var(--color1);
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    margin-bottom: 20px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper label,
.input-checkbox {
    color: rgb(7, 87, 44);
    font-family: "Open Sans", serif;
    font-size: 1.0em;
    font-weight: 600;
    font-style: bolder;
    line-height: 24px;
    margin-bottom: 8px;
}
.input-wrapper input {
    
    height: 30px;
    border-radius: 8px;
    padding: 0 24px;
    width: 100%;

    border: 1px solid #E6E6F0;
    margin-bottom: 8px;
}